# Ignore images
image.png
Searches.png
Ratings.png
#Ignore vscode folder
vscode/*
.vscode/launch.json
#Ignore DS Store
.DS_STORE
#config file
config.php
#Ignore idea folder
.idea
#temp doc
~$sterDoc.*