body {
    margin: 0;
}

header {
    border: 3px solid black;
    margin: 20px;
}

.headerContainer {
    width: 90%;
    margin: 0 auto;
}

.title {
    height: auto;
    float: left;
    border: 3px solid black;
    color: black;
    margin: 5px;
    padding: 5px;
}

h1 {
    font-Size: 2.5em;
    font-weight: bold;
    margin: 3px;
}

p {
    font-size: 20px;
    font-weight: bolder;
    margin: 3px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    font-family: Gruppo;
    font-size: 25px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 8px 4px;
    cursor: pointer;

    border: 3px solid black;
  }

header ::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin:  0;
    padding: 0;
    list-style: none;
}

table {

}

.container {
    border: 3px solid black;
    margin: 20px;
}

.content {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

nav li {
    
    border: 2px solid rgb(19, 19, 19);
    display: inline-block;
    margin-left: 60px;
    margin-top: 18px;
    padding: 3px;

    position: relative;
}

nav a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 2px white;
    font-weight: bolder;

    font-size: 20px;

    position: relative;
    top: -2.5px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;

    position: relative;
    top: 35px;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

@font-face {
 font-family: Gruppo;
 src: url(fonts/Gruppo-Regular.ttf)
}