table {
    border-collapse: collapse;
    width: 75%;
}

th {
    height: 40px;
    background-color: #e4e4e4;
    font-style: oblique;
    font-size: 16px;
}

td {
    padding: 3px;
    font-family: Calibri;
    font-size: 15px;
}

table, th, td {
    border: 2px solid black;
}

tr:not(:first-child):hover {
    background-color: #d1d1d1;
}

.form {
    background-color: #d1d1d1;
}

form {
    display: inline-block;
    margin: 6px;
}

input[name=submit] {
    width: 8%;
    height: 4%;
    padding: 2px 4px;
    margin: 3px;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
}

input[name=searched] {
    width: 100%;
    height: 4%;
    margin: 3px;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
}

input[type=text], select {
    padding: 3px 5px;
    margin: 3px;
    font-family: Arial;
    font-size: 14px;
}

input[type=text]:focus {
    border: 2px solid #555;
}

input[name=title] {
    width: 30%;
}

input[name=genre] {
    width: 10%;
}

input[name=year] {
    width: 7%;
}